{% extends "base.html" %}

{% block title %}Iris: Standup Manager - Login{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="w-full max-w-md">
        <div class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
            <h2 class="text-2xl font-bold text-center text-primary mb-6">Login</h2>
            <form method="POST" action="{{ url_for('main.login') }}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Username
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                           id="username" 
                           name="username" 
                           type="text" 
                           placeholder="Username" 
                           required>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        Password
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                           id="password" 
                           name="password" 
                           type="password" 
                           placeholder="******************" 
                           required>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-primary border border-primary text-primary-100 hover:text-primary-200 font-bold py-2 px-8 rounded-2xl focus:outline-none focus:shadow-outline" 
                            type="submit">
                        Sign In
                    </button>
                    <a class="inline-block align-baseline font-bold text-sm text-primary hover:text-primary-800" href="{{ url_for('main.register') }}">
                        Need an account?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}